<?xml version="1.0"?>
<!--
/**
 *
 * Piwik Extension for Magento created by Adrian Speyer
 * Get Piwik at http://www.piwik.org - Open source web analytics
 *
 * @category    PiwikMage
 * @package     PiwikMage_PiwikAnalytics
 * @copyright   Copyright (c) 2012 Adrian Speyer. (http://www.adrianspeyer.com)
 * @license http://www.gnu.org/licenses/gpl-3.0.html GPL v3 or later
 *
 */
-->
<config>
    <modules>
        <PiwikMage_PiwikAnalytics>
            <version>1.1.8.0</version>
        </PiwikMage_PiwikAnalytics>
    </modules>
    <global>
        <models>
            <piwikanalytics>
                <class>PiwikMage_PiwikAnalytics_Model</class>
            </piwikanalytics>
        </models>
        <blocks>
            <piwikanalytics>
                <class>PiwikMage_PiwikAnalytics_Block</class>
            </piwikanalytics>
        </blocks>
        <helpers>
            <piwikanalytics>
                <class>PiwikMage_PiwikAnalytics_Helper</class>
            </piwikanalytics>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <PiwikMage_PiwikAnalytics>
                    <files>
                        <default>PiwikMage_PiwikAnalytics.csv</default>
                    </files>
                </PiwikMage_PiwikAnalytics>
            </modules>
        </translate>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <piwikanalytics_order_success>
                        <class>piwikanalytics/observer</class>
                        <method>setPiwikAnalyticsOnOrderSuccessPageView</method>
                    </piwikanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <piwikanalytics_order_success>
                        <class>piwikanalytics/observer</class>
                        <method>setPiwikAnalyticsOnOrderSuccessPageView</method>
                    </piwikanalytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <piwikanalytics>
                    <file>piwikanalytics.xml</file>
                </piwikanalytics>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PiwikMage_PiwikAnalytics>
                    <files>
                        <default>PiwikMage_PiwikAnalytics.csv</default>
                    </files>
                </PiwikMage_PiwikAnalytics>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <piwikanalytics after="Mage_Adminhtml">PiwikMage_PiwikAnalytics_Adminhtml</piwikanalytics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <routers>
            <PiwikMage_PiwikAnalytics>
                <use>admin</use>
                <args>
                    <module>PiwikMage_PiwikAnalytics</module>
                    <frontName>piwikanalytics</frontName>
                </args>
            </PiwikMage_PiwikAnalytics>
        </routers>
    </admin>
</config>
